html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #1DA57A;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}